.home-container {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ipl-dashboard-logo-container {
  display: flex;
  align-items: center;
}

.ipl-logo {
  width: 50px;
  margin-right: 15px;
}

.dashboard-heading {
  color: #ffffff;
  font-family: 'Roboto';
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}
